@model List<contact_us>
<section id="testimonials" class="testimonials">
    <div class="container aos-init aos-animate" data-aos="fade-up">
        <div class="section-title " style="font:5px">
            <h3>user reviwes</h3></div>
            <center>
                @foreach(var item in Model)
                {
        <div class="testimonial-item" style="width:auto">
                    <p style="font-size:30px">@item.Subject</p>
            <p>                   
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                   @item.Massage          
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="~/assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
            <h3>@item.Name</h3>
            <h4>@item.Email</h4>

        </div>
        <hr/>
            }
        </center>
    </div>
</section>